.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 60%;
  height: 70%;
  border-radius: 10px;
  background-color: rgba(220, 220, 220);
}

@media (max-width: 750px) {
  .profile {
    width: 80%;
  }
}
