.home {
  width: 100%;
  background-color: rgb(30, 30, 30);
}
.main {
  width: 100%;
  margin: 0px;
  background-position: left;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(
    45deg,
    rgba(20, 20, 20, 1),
    rgba(20, 20, 20, 1),
    rgba(0, 0, 0, 0.7)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picDiv {
  width: 50%;
  display: flex;
  justify-content: end;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.heading {
  margin: 0px;
  color: white;
  text-align: center;
}

.desc {
  text-align: center;
  margin: 40px;
  color: orange;
  font-size: 18px;
  width: 60%;
}

.info {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  width: 14%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.tileImg {
  width: 70%;
  height: 70%;
  color: orange;
  object-fit: cover;
}

.tileText {
  border: none;
  background-color: orange;
  color: black;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 10px;
}

.tileText:hover {
  background-color: rgba(255, 165, 0, 0.8);
}

.adDiv {
  width: 100%;
}

.adHeading {
  text-align: center;
  color: whitesmoke;
  margin-top: 20px;
}

.ad {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px;
}

.adImg {
  width: 45%;
  border-radius: 10px;
}

.textDiv {
  width: 45%;
}

.textHeading {
  color: orange;
  margin: 0;
  padding-left: 10px;
}

.adText {
  text-align: justify;
  padding: 10px;
  color: white;
  font-weight: 500;
}

.copyright {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright1 {
  font-size: 17px;
  color: whitesmoke;
  font-weight: 500;
}

.copyright2 {
  font-size: 17px;
  color: orange;
  font-weight: 500;
  margin-left: 5px;
}

@media (max-width: 650px) {
  .home {
    width: 100%;
    background-color: rgb(30, 30, 30);
  }
  .main {
    width: 100%;
    background-position: left;
    background-size: cover;
  }

  .overlay {
    width: 100%;
    color: white;
    background: linear-gradient(
      45deg,
      rgba(20, 20, 20, 1),
      rgba(20, 20, 20, 1),
      rgba(0, 0, 0, 0.7)
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .picDiv {
  }

  .cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading {
    margin: 0px;
    color: white;
    text-align: center;
    font-size: 28px;
  }

  .desc {
    text-align: center;
    color: orange;
    font-size: 17px;
    width: 80%;
  }

  .info {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tile {
    width: 14%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
  }

  .tileImg {
    width: 70%;
    height: 70%;
    color: orange;
    object-fit: cover;
  }

  .tileText {
    border: none;
    background-color: orange;
    color: black;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 10px;
  }

  .tileText:hover {
    background-color: rgba(255, 165, 0, 0.8);
  }

  .adDiv {
    width: 100%;
  }

  .adHeading {
    text-align: center;
    color: whitesmoke;
    margin-top: 20px;
  }

  .ad {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
  }

  .adImg {
    width: 100%;
    border-radius: 10px;
  }

  .textDiv {
    width: 100%;
  }

  .textHeading {
    color: orange;
    margin: 0;
    padding-left: 10px;
  }

  .adText {
    text-align: justify;
    padding: 10px;
    color: white;
    font-weight: 500;
  }

  .copyright {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copyright1 {
    font-size: 17px;
    color: whitesmoke;
    font-weight: 500;
  }

  .copyright2 {
    font-size: 17px;
    color: orange;
    font-weight: 500;
    margin-left: 5px;
  }
}
