.main {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.panel {
  width: 85%;
  height: 100%;
}

@media (max-width: 600px) {
  .panel {
    width: 80%;
  }
}
