<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <style></style>

  <body>
    <table>
      <tr>
        <td><h1>Hello <%user%></h1></td>
      </tr>

      <tr>
        <td><h2>Welcome to Send it</h2></td>
      </tr>

      <tr>
        <td>
          <p>
            You received this email because you created and account with Send
            It. if you did not create an account please contact us
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
